version: '3.8'

services:
  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - "8123:8123"
    volumes:
      - clickhouse_data:/var/lib/clickhouse

  api_data:
    build:
      context: ../get_data
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      - clickhouse

  bot:
    build:
      context: ../paloalto_bot
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      - clickhouse
      - api_data

  web:
    build:
      context: ../paloalto_web
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - clickhouse
      - api_data

volumes:
  clickhouse_data: